SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STREAM_API_KEY=
STREAM_API_SECRET=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_URI=

# for captcha
CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=

#for redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=