.profile-get-loading-container {
    display: none;
    width: 100%;
    height: 100%;

    /* center content */
    justify-content: center;
    align-items: center;
}

.profile-get-loading-section {
    text-align: center;
}

.profile-get-loading-icon {
    animation: spin 1s linear infinite;
    border-radius: 9999px;
    height: 3rem;
    width: 3rem;
    border-bottom: 2px solid #ec4899;
    margin-left: auto;
    margin-right: auto;
}

.profile-get-loading-text {
    margin-top: 1rem;
    color: #ffffff;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-color-scheme: dark) {
    .profile-get-loading-text {
        margin-top: 1rem;
        color: #abb2bb;
    }
}