.profile-loading-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right,
            rgba(2, 6, 23, 0.8),
            rgba(17, 24, 39, 0.8));
    z-index: 1000;

    /* center content */
    justify-content: center;
    align-items: center;
}

.profile-loading-section {
    text-align: center;
}

.page-loading-container {
    display: none;
    flex: 1 0 auto;
    min-height: 100vh;
    padding: 4rem 1rem;
    background: var(--background);
    align-items: center;
    justify-content: center;
}

.page-loading-section {
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
}

.profile-loading-icon {
    animation: spin 1s linear infinite;
    border-radius: 9999px;
    height: 3rem;
    width: 3rem;
    border-bottom: 2px solid #ec4899;
    margin-left: auto;
    margin-right: auto;
}

.profile-loading-text {
    margin-top: 1rem;
    color: #ffffff;
}

.page-loading-text {
    margin-top: 1rem;
    color: #4b5563;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-color-scheme: dark) {
    .profile-loading-text {
        margin-top: 1rem;
        color: #abb2bb;
    }

    .page-loading-text {
        color: #abb2bb;
    }
}
